h1 {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 30px;
}
 h3, h4{
 font-size: 19px;
     text-decoration: underline;
     margin-left: 40px;
 }

body {
    font: 75% / 150% Lato, Arial, Helvetica, sans-serif;
}

img {
    margin-left: 30px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007BFF;
    padding: 10px 20px;
}

.logo-container img {
    max-width: 190px;
    height: auto;
}

li {
    font-size: 30px;
    line-height: 1.6;
    margin-left: 30px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007BFF;
}

.nav-links li {
    float: left;
    background-color: transparent;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
}

.nav-links li a.active, .nav-links li a:hover {
    background-color: black;
}

.hamburger {
    display: none;
}

#slideshow {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

#slideshow img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

#slideshow img:first-child {
    display: block;
}

.footer-content {
    text-align: center;
    color: white;
}

.footer-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    margin-top: 10px;
}

footer {
    background-color: black;
    padding: 10px 0;

    margin-top: 70px;
    background-size: 1px;
}

.menu {
    display: none;
}

.tour {
    border-radius: 30px;
    font-size: 20px;
    margin-left: 30px;
}

.tour a {
    text-decoration: none;
    color: black;
}

.tour a:hover {
    background-color: yellow;
}

.tour:hover {
    background-color: yellow;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #007BFF;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    list-style: none;
    line-height: 70px;
    font-size: 25px;
}

.sidebar a {
    width: 100%;
    text-decoration: none;
    color: white;
}

.menu-button {
    display: none;
}

@media(max-width: 610px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
}

table, th, td {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    padding: 20px;
    border: 3px solid black;
    border-collapse: collapse;
    line-height:40px;
}

.details {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.detail, .day {
    width: 100px;
    height: 30px;
}

.address{
line-height:20px;
}

.generalinfo{
 font-size: 20px;
  line-height: 1.6;
  margin-left: 30px;
  margin-right: 30px;
}
.general{
 line-height: 1;
}