<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lucky Travel</title>
<LINK rel="icon" href="/Images/Logo.jpeg">
<link rel="stylesheet" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/66484813981b6c56477206be/1hu55j3d4';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>

</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
              <img src="Images/Logo.jpeg" alt="Lucky Travel Logo" width="100" height="50">
        </div>
        <nav>
            <div class="mobile-nav">
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Generalinformation">General Information</a></li>
                    <li><a  href="/Placeofintrest">Place Of Interest</a></li>
                    <li><a href="/HowtoReach">How To Reach</a></li>
                    <li><a href="/Andamanpackage">Tour Packages</a></li>
                    <li><a href="/Traveltools">Travel Tools</a></li>
                    <li><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
                </ul>
                <ul class="nav-links">
                    <li class="hideOnMobile"><a href="/Home">Home</a></li>
                    <li class="hideOnMobile"><a href="/Generalinformation">General Information</a></li>
                    <li class="hideOnMobile"><a href="/Placeofintrest">Place Of Interest</a></li>
                    <li class="hideOnMobile"><a href="/HowtoReach">How To Reach</a></li>
                    <li class="hideOnMobile"><a href="/Andamanpackage">Tour Packages</a></li>
                    <li class="hideOnMobile"><a href="/Traveltools">Travel Tools</a></li>
                    <li class="hideOnMobile"><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
                    <li class="menu-button" onclick="showSidebar()">
  <a href="#">
    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white">
      <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
    </svg>
  </a>
</li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<br>
<div id="slideshow" style="height: 600px;">
    <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain" style="display: none;width: 1600px;">
    <img src="https://th.bing.com/th/id/OIP.pPsm6zlnfHHndyeKlRpZBgHaE7?rs=1&pid=ImgDetMain"style="display: none;width: 1600px;">
    <img src="Images/RossIsland.webp"style="display: none; width: 1600px;">
    <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain"style="display: none; width: 1600px;">
    <img src="Images/Snorkeling.jpeg"style="display: none; width: 1600px;">
    <img src="Images/coral.jpg" style="display: none; width: 1600px;">
    <img src= "Images/seawalk.webp" style="display: none; width: 1600px;">
    <img src= "Images/scooterboat.jpg" style="display: none; width: 1600px;">
</div>
<div class="details">
    <form action="/submitBooking" method="POST"> 
        <h1 style="margin-top: 60px ;"><u>Fill Up The Details Below</u></h1>
        <br>
        <div class="row">
            <div class="col">
                <label>Enter Your Full Name:</label>
                <input type="text" class="detail" placeholder="Enter Your Name" name="name" required>
            </div>
        </div>
        <br>
        <label>
            Your Requirements of package:
            <br>
            <textarea id="Requirement" rows="5" cols="35" name="requirements"></textarea> 
        </label>
        <br>
        <br>
        <label>Arrival date:</label>
        <br>
        <input type="date"class="day" name="arrivaldate" min="2002-01-01" max="2035-01-01" /> &nbsp;&nbsp;
        <br>
        <br>
        <label>Departure date:</label>
        <br>
        <input type="date"class="day" name="departuredate" min="2002-01-01" max="2035-01-01" /> &nbsp;&nbsp;
        <br>
        <br>
        <label>Total Stay In Andaman:</label>
        <br>
        <input type="number"  class="day" name="stays" min="0" max="10" placeholder="Enter days">
        <br>
        <br>
        <div class="mb-3">
            <label >Email Address:</label>
            <input type="email" class="detail" placeholder="example@gmail.com" name="email" required>

        </div>
        <br>
        <label>Enter your phone number:</label>
        <br>
        <input type="tel" class="detail" name="phone" placeholder="Enter phone number">
        <br>
        <br>
        <button class="tour" type="submit">Submit</button>
    </form>
</div>
<footer>
    <div class="footer-content">
        <div class="footer-label">
         <img src="Images/18-Years.png" width="150px" height="150px" align="right">
            <p><b><font style="Algerian" size="12px" color="orange">Lucky Travels</font></b></p>
        </div>
    </div>
</footer>

<script>
    let currentIndex = 0;
    const images = document.querySelectorAll('#slideshow img');
    const totalImages = images.length;

    function showNextImage() {
        images[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % totalImages;
        images[currentIndex].style.display = 'block';
    }

    setInterval(showNextImage, 1500);
</script>
<script>
    function showSidebar(){
    const sidebar=document.querySelector('.sidebar')
    sidebar.style.display='flex'
    }
      function hideSidebar(){
  const sidebar=document.querySelector('.sidebar')
    sidebar.style.display='none'
  }
</script>
</body>
</html>