<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Lucky Travel</title>
<LINK rel="icon" href="lucky travel.2png.jpeg">
<link rel="stylesheet" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/66484813981b6c56477206be/1hu55j3d4';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
  })();
</script>
</head>
<body>
<header>
  <div class="header-container">
    <div class="logo-container">
        <img src="/Images/Logo.jpeg" alt="Lucky Travel Logo" width="100" height="50">
    </div>
    <nav>
      <div class="mobile-nav">
        <ul class="sidebar">
          <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
          <li><a href="/Home">Home</a></li>
          <li><a href="/Generalinformation">General Information</a></li>
          <li><a  href="/Placeofintrest">Place Of Interest</a></li>
          <li><a href="/HowtoReach">How To Reach</a></li>
          <li><a href="/Andamanpackage">Tour Packages</a></li>
          <li><a href="/Traveltools">Travel Tools</a></li>
          <li><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
        </ul>
        <ul class="nav-links">
          <li class="hideOnMobile"><a href="/Home">Home</a></li>
          <li class="hideOnMobile"><a href="/Generalinformation">General Information</a></li>
          <li class="hideOnMobile"><a  href="/Placeofintrest">Place Of Interest</a></li>
          <li class="hideOnMobile"><a href="/HowtoReach">How To Reach</a></li>
          <li class="hideOnMobile"><a href="/Andamanpackage">Tour Packages</a></li>
          <li class="hideOnMobile"><a href="/Traveltools">Travel Tools</a></li>
          <li class="hideOnMobile"><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
          <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white" ><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<br>
<div id="slideshow" style="height: 600px;">
  <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain" style="display: none;width: 1600px;">
  <img src="https://th.bing.com/th/id/OIP.pPsm6zlnfHHndyeKlRpZBgHaE7?rs=1&pid=ImgDetMain"style="display: none;width: 1600px;">
  <img src="/Images/RossIsland.webp"style="display: none; width: 1600px;">
  <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain"style="display: none; width: 1600px;">
  <img src="/Images/Snorkeling.jpeg"style="display: none; width: 1600px;">
  <img src="/Images/coral.jpg" style="display: none; width: 1600px;">
  <img src= "/Images/seawalk.webp" style="display: none; width: 1600px;">
  <img src= "/Images/scooterboat.jpg" style="display: none; width: 1600px;">
</div>

<h1 class="general">General Information of Andaman Islands:</h1>
<p>The Andaman & Nicobar Islands is a union territory of India. This territory is known as A & N Islands, or ANI. It is located in the Indian Ocean, in the southern reaches of the Bay of Bengal, nearer to Indonesia and Thailand. This comprises of two island groups - the Andaman Islands and the Nicobar Islands - which separate the Andaman Sea to the east from the Indian Ocean. These two groups are separated by the 10° N parallel, the Andamans lying to the north of this latitude, and the Nicobars to the south. The capital of this territory is the Andamanese town of Port Blair.There is 556 islands in the territory, of which only some 38 are permanently inhabited. Most of the islands (about 550) are in the Andamans group, 26 of which are inhabited. The smaller Nicobars comprise some 22 main islands (10 inhabited). The Andamans and Nicobars are separated by a channel (the Ten Degree Channel) some 150 km wide.The territory's population as per the most recent (2011) Census of India was 3,79,944. Added together, the total land area of the territory is approximately 8,249 km².The total area of the Andaman Islands is some 6,408 km²; that of the Nicobar Islands approximately 1,841 km².</p>
<p><b>The major languages spoken in the Andamans in numerical order are Bengali, Hindi, Tamil, Nicobarese and Telugu. Other languages include Malayalam and English.</b></p></div>
<br>
<p><u><b>STATE NAME:</b></u> &nbsp; &nbsp;Andaman & Nicobar Islands</p>
  <p><u><b>CAPITAL:</b></u> &nbsp; &nbsp;Port Blair</p>
<h4 style="margin-left:30px;"><u>LOCATION:</u></h4>
<ul>
  <li  class="generalinfo">Location: Bay of Bengal</li>
  <li  class="generalinfo">Longitude: 920 to 940 East</li>
  <li  class="generalinfo">Latitude: 60 to 140 North</li>
</ul>
<h4><u>ALTITUDE (HIGHEST POINT):</u></h4>
<ul>
  <li class="generalinfo">Andaman Islands : Saddle Peak (North Andaman Island): 732 Meters</li>
  <li  class="generalinfo">Nicobar Islands: Mount Thullier (Great Nicobar Island): 642 Meters</li>
</ul>
<h4><u>AREA:</u></h4>
<ul>
  <li class="generalinfo">Total Area: 8249 Sq. Kms.</li>
  <li  class="generalinfo">Andaman District: 6408 Sq. Kms.</li>
  <li class="generalinfo">Nicobar District: 1841 Sq. Kms.</li>
  <li class="generalinfo">Urban Area: 26.34 Sq. Kms.</li>
  <li class="generalinfo">Rural Area: 8222.36 Sq. Kms.</li>
  <li class="generalinfo">Total Islands: 556</li>
  <li class="generalinfo">Inhabited Islands: 38</li>
</ul>
<h4><u>DISTANCE</u></h4>
<ol  type="i">
  <li style="font-size:23px;"><u>Distance by Sea (In Kilometers)</u></li>
  <ul>
    <li class="generalinfo">Between Port Blair & Chennai: 1190</li>
    <li class="generalinfo"> Between Port Blair & Calcutta: 1255</li>
    <li class="generalinfo">Between Port Blair & Visakhapatnam: 1200</li>
  </ul>
  <li style="font-size:23px;"><u>Distance by Air (In Kilometers)</u></li>
  <ul>
    <li class="generalinfo">Between Calcutta & Port Blair: 1303</li>
    <li class="generalinfo">Between Chennai & Port Blair: 1330</li>
  </ul>
</ol>
<h3 style="margin-left:30px;"><u>CLIMATE:</u> </h3>
<p>Tropical throughout the year with minimum temperature at 230 Celsius and maximum at 310 Celsius. Humidity is relatively high – 70 to 90% with gentle breeze blowing all the time. The weather is generally pleasant with average annual rainfall at 3,000 mm at Port Blair from May to mid September and November to January.</p>
<p><b><u>FOREST COVER:  </u></b> &nbsp; &nbsp;92%, Forest area 86%</p>
<p><b><u>BEST SEASON:</u></b> &nbsp; &nbsp;October to May</p>
<p><b><u>CLOTHING: </u></b> &nbsp; &nbsp;Cottons throughout the year</p>
<p><b><u>ISD CODE:</u></b> &nbsp; &nbsp;+91-3192</p>
<p><b><u>STD CODE: </u></b> &nbsp; &nbsp;03192 </p>
</div>
<footer>
  <div class="footer-content">
    <div class="footer-label">
      <img src="/Images/18-Years.png" width="150px" height="150px" align="right">
      <p><b><font style="Algerian" size="12px" color="orange">Lucky Travels</font></b></p>
    </div>
  </div>
  </div>
</footer>

<script>
  let currentIndex = 0;
  const images = document.querySelectorAll('#slideshow img');
  const totalImages = images.length;

  function showNextImage() {
      images[currentIndex].style.display = 'none';
      currentIndex = (currentIndex + 1) % totalImages;
      images[currentIndex].style.display = 'block';
  }

  setInterval(showNextImage, 1500);
</script>
<script>
  function showSidebar(){
  const sidebar=document.querySelector('.sidebar')
  sidebar.style.display='flex'
  }
    function hideSidebar(){
const sidebar=document.querySelector('.sidebar')
  sidebar.style.display='none'
}
</script>
<script>
      const hamburger = document.querySelector('.hamburger');
    if (hamburger) {
        hamburger.addEventListener('click', function() {
            const navLinks = document.querySelector('.nav-links');
            if (navLinks) {
                navLinks.classList.toggle('show');
            }
        });
    }
</script>

</body>
</html>

