<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Lucky Travel</title>
<LINK rel="icon" href="lucky travel.2png.jpeg">
<link rel="stylesheet" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/66484813981b6c56477206be/1hu55j3d4';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
          <img src="/Images/Logo.jpeg" alt="Lucky Travel Logo" width="100" height="50">
        </div>
        <nav>
            <div class="mobile-nav">
                <ul class="sidebar">
                    <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Generalinformation">General Information</a></li>
                    <li><a  href="/Placeofintrest">Place Of Interest</a></li>
                    <li><a href="/HowtoReach">How To Reach</a></li>
                    <li><a href="/Andamanpackage">Tour Packages</a></li>
                    <li><a href="/Traveltools">Travel Tools</a></li>
                    <li><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
                </ul>
                <ul class="nav-links">
                    <li class="hideOnMobile"><a href="/Home">Home</a></li>
                    <li class="hideOnMobile"><a href="/Generalinformation">General Information</a></li>
                    <li class="hideOnMobile"><a  href="/Placeofintrest">Place Of Interest</a></li>
                    <li class="hideOnMobile"><a href="/HowtoReach">How To Reach</a></li>
                    <li class="hideOnMobile"><a href="/Andamanpackage">Tour Packages</a></li>
                    <li class="hideOnMobile"><a href="/Traveltools">Travel Tools</a></li>
                    <li class="hideOnMobile"><a href="https://www.makemytrip.com/flights/andaman-flight-tickets.html">Flight</a></li>
                    <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white" ><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<br>
<div id="slideshow" style="height: 600px;">
    <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain" style="display: none;width: 1600px;">
    <img src="https://th.bing.com/th/id/OIP.pPsm6zlnfHHndyeKlRpZBgHaE7?rs=1&pid=ImgDetMain"style="display: none;width: 1600px;">
    <img src="/Images/RossIsland.webp"style="display: none; width: 1600px;">
    <img src="https://th.bing.com/th/id/OIP.3e_OBsyoY4ylaYSEQnGTFgHaDo?rs=1&pid=ImgDetMain"style="display: none; width: 1600px;">
    <img src="/Images/Snorkeling.jpeg"style="display: none; width: 1600px;">
    <img src="/Images/coral.jpg" style="display: none; width: 1600px;">
    <img src= "/Images/seawalk.webp" style="display: none; width: 1600px;">
    <img src= "/Images/scooterboat.jpg" style="display: none; width: 1600px;">
</div>
<h1 style="line-height:1.6">PLACES OF INTEREST</h1>
<h3 style="line-height:1.6"><u>Corbyn's Cove Beach</u></h3>
<img src="/Images/img_1.png" alt="Corbyn's Cove Beach image" width="200" height="200">
<p>This is one of the most beautiful beach in Port Blair with blue sea and white sand. It is ideal for sea bathing and sun-basking.</p>
<h3 style="line-height:1.6"><u>Cellular Jail</u></h3>
<img src="/Images/img_2.png" alt="Cellular Jail image"width="200" height="200">
<p>Cellular Jail, this three- storeyed prison, constructed by Britisher's in 1906102 years old   located at Port Blair, stood mute witness to the tortures meted out to the freedom fighters by the British Administration, who were incarcerated in this Jail.   It acquired the name, ‘cellular’ because it is entirely made up of individual cells for the solitary confinement of the prisoners. It originally was a seven pronged, puce-coloured building with central tower acting as its fulcrum and a massive structure comprising honeycomb like corridors. The building was subsequently damaged and presently three out of the seven prongs are intact.The Jail, now a place of pilgrimage for all freedom loving people, has been declared a National Memorial. Netaji Subash Chandra Bose hoisted the tri-colour flag to proclaim Independence on 30th December 1943 at a place near this Jail., is a pilgrimage
    out of the seven prongs are intact.</p>
<h3 style="line-height:1.6"><u>Light & Sound Show</u></h3>
<img src="/Images/img_8.png" alt="Light & Sound Show image"width="200" height="200">
<P>The saga of the heroic freedom struggle is brought alive in a moving Sound & light show. The show is conducted every evening in the premises of cellular jail which gives us a brief idea about the happenings in the jail prior to the independence.</P>
<h3 style="line-height:1.6"><u>ROSS ISLAND </u> </h3>
<img src="/Images/img_3.png" alt="Ross Island"width="200" height="200">
<p>Ross Island, the erstwhile capital of Port Blair during the British regime, is a tiny island standing as guard to Port Blair harbour. The island presently houses the ruins of old buildings like Ballroom, Chief Commissioner’s House, Govt. House, Church, Hospital, Bakery, Press, Swimming Pool and Troop Barracks, all in dilapidated condition, reminiscent of the old British regime.</p>
<p> </p>
<h3><u> Northbay Island</u></h3>
<img src="/Images/northbay.jpg" alt="Ross Island"width="200" height="200">
<p>North Andaman Island is the northern island of Great Andaman of the Andaman Islands. It belongs to the North and Middle Andaman administrative district, part of the Indian union territory of Andaman and Nicobar Islands. the island is lying 137 km north from Port Blair. North Bay Island is one among the most popular destination in Andaman Islands. Usually, this trip is covered as part of both North Bay island along with Ross Island. However, you could also select just North Bay island trip as well, for that you have to charter a private boat from Andaman water sports complex. Now, the boarding point for North Bay island keeps changing based upon Government regulation. Sometimes it is Andaman Water Sports Complex and sometimes it is Junglighat jetty. You will have to know where to go to board the ferry before moving to North Bay Island. North Bay Island offers people with beautiful coral reefs alluring to visitors who are visiting this destination for the first time. Activities such as snorkeling, scuba diving, sea walking, glass boat ride, semi submarine are available at the island. Now, North Bay offers much more activities for travelers than Havelock and Neil Island. Apparently, the light house seen at the back of a 20 Rupee Indian note is from the the North Bay Island. Isn’t that good know.  however, it feels great to be a part of it.At the island you will find various scuba shops offering scuba diving and snorkeling. The glass bottom boat rides can also be availed to view the magnificent coral reefs.</p>
<h3><u>Viper Islands</u></h3>
<img src="/Images/img_4.png" alt="Viper Island"width="200" height="200">
<p>A Beautiful island of Viper witnessed the untold sufferings the freedom fighters had to undergo. The jail at Viper, where prisoners deported from the mainland were confined, was built by the British under the supervision of Major Fort. Work on the prison was started in 1867. Owing to the working conditions, the jail earned the notorious name Viper Chain Gang Jail. The island derives its name from the vessel ‘Viper’ in which Lt. Archibald Blair came to the islands in 1768 with the purpose of establishing a Penal Settlement. Sher Ali, the Pathan, guilty of murdering Lord Mayo, was condemned to death and hanged at Viper Island.<span><b>(At Present It  Is Closed)</b></span></p>
<h3><u>Port Blair to Havelock Islands</u></h3>
<img src="/Images/img_6.png" width="200" height="200">
<p>About 38 Kms. from Port Blair, this island provides idyllic resort in the lap of virgin beach and unpolluted environment. Camping facility is available near Radhanagar beach. (note: papa said to remove-A guesthouse of Tourism Department "Dolphin Resort" is available for the tourists.)</p>
<h2>Day 4:Baratang</h2>
<img src="/Images/baratang.webp" width="200" height="200">
<p>Batratang Island, part of the Andaman and Nicobar Islands in India, is a captivating destination known for its natural beauty and unique attractions. Located approximately 100 kilometers from Port Blair, the island offers a diverse landscape featuring dense mangrove creeks, tropical forests, and pristine beaches. One of its most remarkable features is the limestone caves, accessible by a scenic boat ride through the mangroves, which showcases stunning formations of stalactites and stalagmites. The island is also famous for Parrot Island, where thousands of parrots can be seen returning to roost at sunset, creating a mesmerizing spectacle. The Mud Volcanoes, another significant attraction, are a rare natural phenomenon where mud and gases emerge from the earth's surface, forming small craters. Batratang Island is rich in biodiversity, home to various species of flora and fauna. It is also inhabited by the indigenous Jarwa tribe, one of the last remaining Stone Age tribes, adding a unique cultural dimension to the island. Tourism on Batratang Island is carefully regulated to preserve its natural and cultural heritage. Visitors can enjoy eco-friendly activities such as trekking, bird watching, and exploring the island's natural wonders, making it an ideal destination for nature enthusiasts and adventure seekers.</p>
<h3><u>Jolly Buoy Island</u></h3>
<img src="/Images/img_5.png" alt="Jolly Buoy Island"width="200" height="200">
<p>An island in Mahatma Gandhi Marine National Park, it offers a breath taking underwater view of coral and marine life. It is an ideal place for snorkeling, sea bathing and basking on the sun kissed beach. A famous tourist spot in Andaman Islands for corals.</p>
<h3 style="line-height:1.6"><u>Chidiya Tapu (25 kms. from Port Blair)</u></h3>
<img src="/Images/img_7.png" width="200" height="200">
<p>Chidiya Tapu is the southern most tip of South Andaman. The lush green mangroves, forest cover with numerous chirping birds and the Sylvan Sands and Munda pahar beaches make it an ideal picnic site. The forest guesthouse situated on top of a hillock provides a fabulous view of isolated islands, submerged corals and the breath-taking sunset. </p>
<h3><u>Water Sports Complex </u></h3>
<img src="/Images/watersports.png"width="200" height="200">
<p>Water Sports Complex is a renowned sports complex in Andaman, it is a unique sports complex offering many adventurous water sports activities. It is located close to the Cellular Jail in the north-west Port Blair. This sports complex offers all kinds of water sports facilities for comfortable, safe and enjoyable experiences. Sail boats, para sailing, water scooters, rowing boats, kayaks, paddle boats, and water skiing facilities are available in plenty here in this complex.</p>
<h3><u>Fisheries Museum </u></h3>
<img src="/Images/img_9.png" width="200" height="200">
<p>Fisheries Museum The fisheries museum is near the water sports complex The Aquarium is praise worthy place enclosing many marine lives including various kinds of sea fishes live corals, sharks, polyp’s starfish and turtles</p>
<h3><u>Gandhi Park</u></h3>
<img src="/Images/gandhipark.jpg" width="200" height="200">
<p>Gandhi Park This beautiful park at port Blair has facilities like amusement rides ,water sports, lake, garden restaurant and historical remains like Japanese temple as well as bunker .the park will soon be converted to amusement part of international.</p>
<h3><u>Chatham Saw Mill</u></h3>
<img src="/Images/img_10.png" width="200" height="200">
<p>It has a Saw Mill lying on the tiny island connected by a bridge over a stretch of sea-water. This Saw Mill is one of the biggest and oldest in Asia.</p>
<h3><u>Samudrika Museum</u></h3>
<img src="/Images/img_11.png" width="200" height="200">
<p>The Samudrika is a museum run by the navy. It is divided into five sections: history of the islands, their geography, people, marine life and archaeology. It houses an impressive display of coral and shells, and a large relief map of the islands topography</p>
<h3><u>Anthropological Museum</u></h3>
<img src="/Images/img_12.png" width="200" height="200">
<p>The Anthropological Museum, at Haddo in north Port Blair, was set up in 1975. It displays tribal essentials and artifacts such as boats, weapons, baskets, clothing, photographs, models and records of exploratory expeditions undertaken over the years. A well-stocked library provides the scholar with invaluable references to tribal culture.</p>
<h3><u>Mount Harriet </u></h3>
<img src="/Images/img_13.png" width="200" height="200">
<p>The summer headquarters of the Chief Commissioner during the British Raj, this highest point near Port Blair is an ideal place for a picnic or a trek. About 55 km from Port Blair by road (15 km by ferry and road), Mount Harriet has a Forest Guest House with lovely huts at a height of 365 m. Nice for sunrises and sunsets</p>
<h3><u>Forest Museum </u></h3>
<img src="/Images/forestmuseum.jpg" width="200" height="200">
<p>Situated at Haddo (near to the Zoo), this museum offers an insight into forest activities through scale models and displays decorative pieces made of famous woods like Padauk, Marble, Peauma, Gurjan, Satin Wood, etc., Open on all working days.</p>
<h2 style="line-height:1.6"><u> Best Beaches of Andaman and Nicobar Islands</u></h2>
<h3><u>Corbyn's Cove Beach</u></h3>
<img src="/Images/img_1.png" width="200" height="200">
<p>This is one of the most beautiful beach in Port Blair with blue sea and white sand. It is ideal for sea bathing and sun-basking. </p>
<h3><u>Chidiyatapu</u></h3>
<img src="/Images/img_14.png" width="200" height="200">
<p>Chidiyatapu As its name this is favorite destination for bird watchers its Famous for enchanting views of munda pahar There is a forest guesthouse situated on top of a hillock providing a fabulous view of isolated islands submerged corals and the breath taking sunset and also a best picnic spot.</p>
<h3 style="line-height:1.6"><u>Mahatma Gandhi Marine National Park-Wandoor</u></h3>
<img src="/Images/img_15.png" width="200" height="200">
<p>Mahatma Gandhi Marine National Park-Wandoor it is 29km distance from port blair located in wandoor is a grandeur tourist attraction in Andaman. This is a fantastic National Park for Marine life in Andaman and is unique all over the world. The pristine beauty Jolly Buoy & Red skin Islands is a part of this National Park. The National Park encloses a sun kissed beach with soft sands and lush green surroundings dense with bushes and coconut palms. This is one of the worlds known scuba diving Snorkeling location in Andaman.</p>
<h3><u>Cinque Island</u></h3>
<img src="/Images/img_16.png" width="200" height="200">
<p>The lure of underwater coral gardens and unspoiled beaches specially a sand bar joining two islands are irresistible. Super place for SCUBA diving, swimming, fishing and Camping.</p>
<h3><u>Jolly Buoy</u></h3>
<img src="/Images/img_17.png" width="200" height="200">
<p>An island in Mahatma Gandhi Marine National Park, it offers a breath taking underwater view of coral and marine life. It is an ideal place for snorkeling , sea bathing and basking on the sun kissed beach.</p>
<h3><u>Red Skin Island</u></h3>
<img src="/Images/img_18.png" width="200" height="200">
<p>Previously capital of Andaman & Nicobar Islands (British Occupation Period) Ross Island is situated near Port Blair.</p>
<h3><u>Havelock Island</u></h3>
<img src="/Images/img_19.png" width="200" height="200">
<p>About 38 Kms. from Port Blair, this island provides idyllic resort in the lap of virgin beach and unpolluted environment. Camping facility is available near Radhanagar beach. A guesthouse of Tourism Department "Dolphin Resort" is available for the tourists.</p>
<h3 style="line-height:1.6"><u>Rangat (170 kms. by road and 90 kms. by sea)</u></h3>
<img src="/Images/img_20.png" width="200" height="200">
<p>Previously capital of Andaman & Nicobar Islands (British Occupation Period) Ross Island is situated near Port Blair.</p>
<h3 style="line-height:1.6"><u>Mayabunder (242 kms. by road/136 kms. by sea)</u></h3>
<img src="/Images/img_21.png" width="200" height="200">
<p>Situated in the northern part of Middle Andaman, Mayabunder offers excellent scenic beauty and beautiful beaches. Inhabited by the settlers from Burma, East Pakistan and ex-convicts, Mayabunder has a distinct culture. Beach at Avis Island (30 minutes boat journey from Mayabunder), Karmatang beach (13 kms.) and mangrove lined creeks are the attractions. Karmatang beach is also a turtle nesting ground. One can view nesting of turtles during December-February season. Swiftlet Nest guest house of the Directorate of Tourism (Tel: 73495) is very near to the Karmatang beach. One can go to Kalighat (for Diglipur) by boat from here.</p>
<h3><u>Ross and Smith</u></h3>
<img src="/Images/Rossandsmithisland.jpg" width="200" height="200">
<p>Ross and Smith, the twin islands joined by a bewitching sand bar, is 30 minutes away from Aerial bay jetty or Kalipur water sports centre. Directorate of Tourism offers island camping at Smith island during the tourist season. One can feel the innocent beauty of village life everywhere in Diglipur. One who prefers to be away from the hustle and humdrum of urban life must come here to enjoy unhurried holidays. Saddle peak is popular for trekking/nature trail through the evergreen rain forest. Kalighat is connected by daily two boat services from Mayabunder. Port Blair – Diglipur (Aerial bay jetty) boat services are available twice a week.</p>
<div>
    <footer>
        <div class="footer-content">
            <div class="footer-label">
                <img src="/Images/18-Years.png" width="150px" height="150px" align="right">
                <p><b><font style="Algerian" size="12px" color="orange">Lucky Travels</font></b></p>
            </div>
        </div>
    </footer>
</div>
</footer>

<script>
    let currentIndex = 0;
    const images = document.querySelectorAll('#slideshow img');
    const totalImages = images.length;

    function showNextImage() {
        images[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % totalImages;
        images[currentIndex].style.display = 'block';
    }

    setInterval(showNextImage, 1500);
</script>
<script>
    function showSidebar(){
    const sidebar=document.querySelector('.sidebar')
    sidebar.style.display='flex'
    }
      function hideSidebar(){
  const sidebar=document.querySelector('.sidebar')
    sidebar.style.display='none'
}
</script>
<script>
        const hamburger = document.querySelector('.hamburger');
    if (hamburger) {
        hamburger.addEventListener('click', function() {
            const navLinks = document.querySelector('.nav-links');
            if (navLinks) {
                navLinks.classList.toggle('show');
            }
        });
    }
</script>

</body>
</html>
